<!doctype html>
<html  ng-app="LunchCheck">
  <head>
    <title>MyApp</title>
<script src="angular.min.js"></script>
<script type="text/javascript" src="app.js"> </script>
<link rel="stylesheet" href="bootstrap.min.css">
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Welcome to ResturantApp</h1>

         <div class="form-group">
           Enter your Input here :
             <input id="lunch-menu" type="text" class="form-control" ng-model="item" ng-style="box" width="100px">
         </div>
         <div ng-style ="font">
           {{msg}}
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkItems()">Check If Too Much</button>
         </div>
   </div>
</body>
</html>
